In [435]:
import pandas as pd
import numpy as np

In [436]:
CZ_hoodchar = pd.read_csv('CZ_neighborhoodcharacteristicsbycsv.csv')
alloutcomes_CZ = pd.read_csv('CZ_alloutcomesbyracegenderparentalincome.csv')

In [437]:
#Neighborhood characteristics dataframe

In [438]:
CZ_hoodchar.head()

,state,county,tract,cz,czname,hhinc_mean2000,mean_commutetime2000,frac_coll_plus2000,frac_coll_plus2010,foreign_share2010,...,singleparent_share2000,traveltime15_2010,emp2000,mail_return_rate2010,ln_wage_growth_hs_grad,jobs_total_5mi_2015,jobs_highpay_5mi_2015,popdensity2010,ann_avg_job_growth_2004_2013,job_density_2013
0,1,1,20100,11101.0,Montgomery,68638.727,26.171911,0.156479,0.254428,0.009950,...,0.250980,0.273034,0.567308,83.500000,0.038233,10109.0,3396.0,504.75183,-0.006769,92.133049
1,1,1,20200,11101.0,Montgomery,57242.512,24.806705,0.146932,0.267194,0.016337,...,0.392523,0.152040,0.493169,81.300003,0.089306,9948.0,3328.0,1682.17050,-0.004253,971.317870
2,1,1,20300,11101.0,Montgomery,75647.727,25.322525,0.224413,0.164159,0.027096,...,0.244856,0.205534,0.578560,79.500000,-0.177743,10387.0,3230.0,1633.41390,0.014218,340.920070
3,1,1,20400,11101.0,Montgomery,74852.055,22.965347,0.230469,0.252744,0.015083,...,0.190722,0.350673,0.596501,83.500000,-0.072311,12933.0,3635.0,1780.03250,-0.019841,207.386370
4,1,1,20500,11101.0,Montgomery,96174.766,26.222353,0.321154,0.375063,0.046488,...,0.168000,0.250496,0.661268,77.300003,-0.096140,12933.0,3635.0,2446.26220,0.018627,800.272640

In [439]:
CZ_hoodchar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74044 entries, 0 to 74043
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   state                         74044 non-null  int64
 1   county                        74044 non-null  int64
 2   tract                         74044 non-null  int64
 3   cz                            73094 non-null  float64
 4   czname                        73094 non-null  object
 5   hhinc_mean2000                72393 non-null  float64
 6   mean_commutetime2000          72417 non-null  float64
 7   frac_coll_plus2000            72464 non-null  float64
 8   frac_coll_plus2010            73248 non-null  float64
 9   foreign_share2010             72378 non-null  float64
 10  med_hhinc1990                 72420 non-null  float64
 11  med_hhinc2016                 72954 non-null  float64
 12  popdensity2000                72739 non-null  float64
 13  poor_share2010                73137 non-null  float64
 14  poor_share2000                72416 non-null  float64
 15  poor_share1990                72436 non-null  float64
 16  share_white2010               73426 non-null  float64
 17  share_black2010               73426 non-null  float64
 18  share_hisp2010                73426 non-null  float64
 19  share_asian2010               72188 non-null  float64
 20  share_black2000               72496 non-null  float64
 21  share_white2000               72496 non-null  float64
 22  share_hisp2000                72496 non-null  float64
 23  share_asian2000               71166 non-null  float64
 24  gsmn_math_g3_2013             72626 non-null  float64
 25  rent_twobed2015               56720 non-null  float64
 26  singleparent_share2010        72742 non-null  float64
 27  singleparent_share1990        72292 non-null  float64
 28  singleparent_share2000        72378 non-null  float64
 29  traveltime15_2010             73160 non-null  float64
 30  emp2000                       72467 non-null  float64
 31  mail_return_rate2010          72789 non-null  float64
 32  ln_wage_growth_hs_grad        51786 non-null  float64
 33  jobs_total_5mi_2015           72680 non-null  float64
 34  jobs_highpay_5mi_2015         72680 non-null  float64
 35  popdensity2010                73638 non-null  float64
 36  ann_avg_job_growth_2004_2013  70800 non-null  float64
 37  job_density_2013              72718 non-null  float64
dtypes: float64(34), int64(3), object(1)
memory usage: 21.5+ MB

In [440]:
CZ_hoodchar['cz'].value_counts()

38300.0    3935
19400.0    3017
24300.0    1995
11600.0    1562
19700.0    1465
           ...
30907.0       1
34604.0       1
34804.0       1
26202.0       1
27012.0       1
Name: cz, Length: 741, dtype: int64

In [441]:
test = CZ_hoodchar[CZ_hoodchar['cz'] == 38300]
test.head(40)

,state,county,tract,cz,czname,hhinc_mean2000,mean_commutetime2000,frac_coll_plus2000,frac_coll_plus2010,foreign_share2010,...,singleparent_share2000,traveltime15_2010,emp2000,mail_return_rate2010,ln_wage_growth_hs_grad,jobs_total_5mi_2015,jobs_highpay_5mi_2015,popdensity2010,ann_avg_job_growth_2004_2013,job_density_2013
1453,4,12,20100,38300.0,Los Angeles,41098.555,20.699696,0.064516,0.144823,0.236940,...,0.274510,0.515888,0.310484,74.599998,0.042914,431.0,62.0,1.433667,0.095355,0.145658
1454,4,12,20201,38300.0,Los Angeles,64871.969,17.212221,0.098639,0.086112,0.064184,...,0.346303,0.578269,0.508480,72.699997,NaN,233.0,57.0,96.704567,-0.190584,10.739102
1455,4,12,20202,38300.0,Los Angeles,64871.969,17.212219,0.098639,0.137230,0.121059,...,0.346303,0.363636,0.508480,86.400002,NaN,136.0,31.0,3.697227,0.043325,1.188599
1456,4,12,20501,38300.0,Los Angeles,41785.777,20.431618,0.089991,0.131789,0.038952,...,0.326667,0.373272,0.194131,79.699997,NaN,128.0,25.0,3.112753,-0.085624,0.131790
1457,4,12,20502,38300.0,Los Angeles,41785.777,20.431618,0.089991,0.094004,0.037028,...,0.326667,0.543638,0.194131,78.500000,NaN,459.0,58.0,10.515318,0.027468,1.284460
1458,4,12,20602,38300.0,Los Angeles,50997.715,21.390072,0.051357,0.037992,0.095652,...,0.326425,0.638655,0.510408,50.900002,NaN,599.0,215.0,6.021138,-0.022457,2.348278
1459,4,12,940200,38300.0,Los Angeles,60853.875,11.623632,0.154860,0.084289,0.150016,...,0.364253,0.797736,0.639037,NaN,0.197398,1716.0,519.0,1951.837900,-0.008797,1025.982300
1460,4,12,940300,38300.0,Los Angeles,46379.395,17.159012,0.053578,0.045293,0.188019,...,0.406072,0.685528,0.477374,NaN,0.185636,1889.0,715.0,10.418133,0.238559,4.558748
1461,4,12,980000,38300.0,Los Angeles,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,NaN,NaN
4739,6,37,101110,38300.0,Los Angeles,74599.336,31.039576,0.191381,0.184792,0.405023,...,0.326126,0.228647,0.601583,78.500000,-0.114526,50173.0,18727.0,10727.891000,0.096204,761.904720
4740,6,37,101122,38300.0,Los Angeles,108176.930,31.952135,0.269806,0.357224,0.301119,...,0.194595,0.087123,0.603003,80.300003,NaN,13264.0,4270.0,3588.638400,0.128781,116.552400
4741,6,37,101210,38300.0,Los Angeles,52120.367,34.607433,0.161668,0.136264,0.517870,...,0.384951,0.133106,0.563599,73.199997,-0.254451,81158.0,35478.0,23864.543000,0.073858,2247.012000
4742,6,37,101220,38300.0,Los Angeles,53902.188,28.809801,0.122661,0.169786,0.533396,...,0.317259,0.155732,0.551047,76.800003,-0.281433,52509.0,18813.0,12455.555000,0.100994,1003.703700
4743,6,37,101300,38300.0,Los Angeles,102011.510,30.855293,0.299391,0.335897,0.276786,...,0.134561,0.165970,0.592082,79.699997,0.246580,52708.0,18863.0,4215.863300,0.031316,754.016050
4744,6,37,101400,38300.0,Los Angeles,95050.227,34.243820,0.308404,0.365637,0.340477,...,0.174497,0.227926,0.621171,80.900002,0.151331,124619.0,52936.0,1602.216700,0.130742,284.072240
4745,6,37,102103,38300.0,Los Angeles,104032.890,29.337770,0.289254,0.442765,0.363389,...,0.198602,0.190574,0.564461,78.199997,NaN,198485.0,85491.0,3799.126700,-0.028731,131.004360
4746,6,37,102104,38300.0,Los Angeles,106661.020,29.344717,0.306154,0.361541,0.505007,...,0.189729,0.243631,0.567656,75.300003,NaN,230059.0,102747.0,5691.107900,0.000818,1489.859600
4747,6,37,102105,38300.0,Los Angeles,106661.020,29.344715,0.306154,0.094820,0.451803,...,0.189729,0.153589,0.567656,70.599998,NaN,237455.0,107062.0,9110.526400,-0.083320,700.000000
4748,6,37,102107,38300.0,Los Angeles,94054.836,32.086483,0.215377,0.232996,0.319726,...,0.327463,0.212976,0.538339,73.300003,NaN,158010.0,66085.0,772.672550,-0.005156,164.325840
4749,6,37,103101,38300.0,Los Angeles,105968.930,32.824017,0.215488,0.228990,0.327391,...,0.143266,0.114155,0.622156,80.099998,0.176438,19353.0,7411.0,3405.612300,0.030963,127.551030
4750,6,37,103102,38300.0,Los Angeles,79373.719,32.365490,0.170673,0.286970,0.427069,...,0.203125,0.095759,0.601925,77.300003,0.236062,55687.0,21793.0,9918.580100,0.092129,1513.569900
4751,6,37,103200,38300.0,Los Angeles,100412.630,32.324738,0.269005,0.253086,0.209147,...,0.268410,0.126618,0.566384,73.800003,-0.115289,67519.0,26486.0,2147.346200,-0.014673,265.013950
4752,6,37,103300,38300.0,Los Angeles,129667.410,32.807980,0.252677,0.344786,0.232386,...,0.149539,0.237772,0.650291,74.900002,0.570013,124997.0,54317.0,1610.712800,0.060302,254.323060
4753,6,37,103400,38300.0,Los Angeles,85033.305,33.137451,0.216279,0.247361,0.324758,...,0.266225,0.110526,0.634395,76.300003,0.142273,95743.0,42475.0,6359.212900,0.002943,515.527950
4754,6,37,104103,38300.0,Los Angeles,95505.758,32.703114,0.142723,0.183216,0.344867,...,0.186480,0.204709,0.543762,79.500000,0.239789,74645.0,29850.0,11161.202000,0.050529,838.797850
4755,6,37,104105,38300.0,Los Angeles,62798.820,32.598602,0.112805,0.141043,0.489635,...,0.393216,0.198340,0.545967,79.300003,-0.292347,86852.0,34325.0,23946.902000,0.051344,3707.964600
4756,6,37,104108,38300.0,Los Angeles,60634.301,29.464264,0.067054,0.061272,0.440328,...,0.337705,0.288337,0.530171,77.599998,NaN,89669.0,35694.0,12425.531000,0.106272,803.782470
4757,6,37,104124,38300.0,Los Angeles,85185.102,31.570015,0.211913,0.265625,0.280905,...,0.234065,0.083474,0.578547,79.500000,NaN,51077.0,18647.0,2413.294700,-0.033928,155.491330
4758,6,37,104201,38300.0,Los Angeles,71738.617,28.878267,0.026979,0.017341,0.421356,...,0.218182,0.350937,0.480921,73.599998,-0.271152,80542.0,32154.0,11353.919000,-0.113749,539.192380
4759,6,37,104203,38300.0,Los Angeles,64324.535,31.093168,0.066406,0.054583,0.427210,...,0.288636,0.246515,0.497519,75.500000,NaN,86308.0,33870.0,19084.248000,-0.018156,919.413940
4760,6,37,104204,38300.0,Los Angeles,64324.535,31.093168,0.066406,0.144086,0.411858,...,0.288636,0.198413,0.497519,78.900002,NaN,64972.0,25653.0,3283.074000,0.011189,867.704280
4761,6,37,104310,38300.0,Los Angeles,68211.742,30.811073,0.025455,0.032393,0.445210,...,0.211036,0.295370,0.424987,71.000000,0.070002,100199.0,39407.0,8455.326200,0.031864,3611.683800
4762,6,37,104320,38300.0,Los Angeles,63683.012,29.147163,0.031423,0.035528,0.506596,...,0.224223,0.235626,0.440121,73.099998,0.115500,91692.0,35655.0,12816.239000,0.003660,1585.470100
4763,6,37,104401,38300.0,Los Angeles,67005.492,31.492668,0.022414,0.057127,0.454575,...,0.228281,0.297158,0.470763,72.199997,0.301022,124442.0,48546.0,12764.258000,0.130633,596.958130
4764,6,37,104403,38300.0,Los Angeles,64627.234,27.941591,0.028142,0.048637,0.444829,...,0.224090,0.243446,0.500155,69.699997,NaN,138574.0,54641.0,12200.744000,-0.014085,873.605960
4765,6,37,104404,38300.0,Los Angeles,67156.484,31.524353,0.022296,0.046103,0.526878,...,0.227962,0.108549,0.470039,68.099998,NaN,126437.0,49468.0,15557.692000,-0.032574,1038.461500
4766,6,37,104500,38300.0,Los Angeles,66840.148,25.986496,0.029282,0.075494,0.451175,...,0.212237,0.185341,0.503060,68.400002,0.262275,140046.0,56007.0,16063.415000,0.075150,1048.780500
4767,6,37,104610,38300.0,Los Angeles,66405.141,30.888422,0.036433,0.012121,0.402431,...,0.225962,0.179191,0.488686,66.800003,-0.020455,129509.0,51294.0,16034.935000,0.027282,1096.069800
4768,6,37,104620,38300.0,Los Angeles,66805.469,26.636103,0.009583,0.023202,0.471329,...,0.188366,0.257761,0.457920,76.199997,0.012083,132929.0,52541.0,17263.414000,0.012133,853.658570
4769,6,37,104701,38300.0,Los Angeles,39992.137,34.481628,0.003163,0.022188,0.501322,...,0.388278,0.323372,0.362069,74.599998,-0.149326,104470.0,40540.0,19755.869000,0.038513,2328.638400

In [442]:
#CZ_hoodchar = CZ_hoodchar.groupby('cz').median().reset_index()
#CZ_hoodchar = CZ_hoodchar.groupby('cz').mean().reset_index()

In [474]:
CZ_hoodchar['share_white2000']

0        0.896929
1        0.354651
2        0.820006
3        0.937884
4        0.897020
           ...
74039         NaN
74040         NaN
74041         NaN
74042         NaN
74043         NaN
Name: share_white2000, Length: 74044, dtype: float64

In [443]:
CZ_hoodchar.isnull().sum().sort_values(ascending=False)

ln_wage_growth_hs_grad          22258
rent_twobed2015                 17324
ann_avg_job_growth_2004_2013     3244
share_asian2000                  2878
share_asian2010                  1856
singleparent_share1990           1752
foreign_share2010                1666
singleparent_share2000           1666
hhinc_mean2000                   1651
poor_share2000                   1628
mean_commutetime2000             1627
med_hhinc1990                    1624
poor_share1990                   1608
frac_coll_plus2000               1580
emp2000                          1577
share_black2000                  1548
share_hisp2000                   1548
share_white2000                  1548
gsmn_math_g3_2013                1418
jobs_total_5mi_2015              1364
jobs_highpay_5mi_2015            1364
job_density_2013                 1326
popdensity2000                   1305
singleparent_share2010           1302
mail_return_rate2010             1255
med_hhinc2016                    1090
czname                            950
cz                                950
poor_share2010                    907
traveltime15_2010                 884
frac_coll_plus2010                796
share_hisp2010                    618
share_white2010                   618
share_black2010                   618
popdensity2010                    406
tract                               0
county                              0
state                               0
dtype: int64

In [444]:
#All outcomes dataframe

In [445]:
alloutcomes_CZ.head()

,cz,kir_natam_female_p1,kir_natam_female_p25,kir_natam_female_p50,kir_natam_female_p75,kir_natam_female_p100,kir_natam_female_n,kir_natam_female_mean,jail_natam_female_p1,jail_natam_female_p25,...,coll_white_pooled_mean_se,comcoll_white_pooled_mean_se,somecoll_white_pooled_mean_se,hs_white_pooled_mean_se,wgflx_rk_white_pooled_mean_se,hours_wk_white_pooled_mean_se,kfr_native_white_pooled_mean_se,kir_native_white_pooled_mean_se,kir_imm_white_pooled_mean_se,kfr_imm_white_pooled_mean_se
0,100,0.278935,0.332390,0.367628,0.410662,0.518473,49.0,0.359739,0.269140,0.086830,...,0.006825,0.007082,0.006825,0.003648,0.005691,0.350721,0.002695,0.002640,0.020301,0.020272
1,200,0.142163,0.274341,0.361471,0.467881,0.734462,23.0,0.289378,NaN,NaN,...,0.009815,0.010524,0.011019,0.005697,0.008795,0.589751,0.004083,0.003985,0.030326,0.033266
2,301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.019253,0.021236,0.021652,0.011817,0.018347,1.160112,0.008073,0.007908,NaN,NaN
3,302,0.143879,0.280962,0.371325,0.481684,0.758157,80.0,0.333021,0.011212,0.003235,...,0.006298,0.006561,0.006142,0.003236,0.005329,0.323772,0.002497,0.002477,0.018201,0.017119
4,401,0.199552,0.294441,0.356991,0.433381,0.624757,53.0,0.364220,-0.005068,0.000869,...,0.008504,0.008600,0.007331,0.004394,0.006740,0.410031,0.003185,0.003168,0.020245,0.020597

In [446]:
alloutcomes_CZ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Columns: 10825 entries, cz to kfr_imm_white_pooled_mean_se
dtypes: float64(10695), int64(129), object(1)
memory usage: 61.2+ MB

In [447]:
alloutcomes_CZ['cz'].value_counts()

21502    1
36600    1
6501     1
32100    1
28002    1
        ..
33601    1
23200    1
34104    1
26601    1
25601    1
Name: cz, Length: 741, dtype: int64

In [448]:
alloutcomescolumns = ['cz','par_rank_natam_female_mean', 'frac_below_median_natam_female',
       'frac_years_xw_natam_female', 'par_rank_asian_female_mean',
       'frac_below_median_asian_female', 'frac_years_xw_asian_female',
       'par_rank_black_female_mean', 'frac_below_median_black_female',
       'frac_years_xw_black_female', 'par_rank_hisp_female_mean',
       'frac_below_median_hisp_female', 'frac_years_xw_hisp_female',
       'par_rank_other_female_mean', 'frac_below_median_other_female',
       'frac_years_xw_other_female', 'par_rank_pooled_female_mean',
       'frac_below_median_pooled_female', 'frac_years_xw_pooled_female',
       'par_rank_white_female_mean', 'frac_below_median_white_female',
       'frac_years_xw_white_female', 'par_rank_natam_male_mean',
       'frac_below_median_natam_male', 'frac_years_xw_natam_male',
       'par_rank_asian_male_mean', 'frac_below_median_asian_male',
       'frac_years_xw_asian_male', 'par_rank_black_male_mean',
       'frac_below_median_black_male', 'frac_years_xw_black_male',
       'par_rank_hisp_male_mean', 'frac_below_median_hisp_male',
       'frac_years_xw_hisp_male', 'par_rank_other_male_mean',
       'frac_below_median_other_male', 'frac_years_xw_other_male',
       'par_rank_pooled_male_mean', 'frac_below_median_pooled_male',
       'frac_years_xw_pooled_male', 'par_rank_white_male_mean',
       'frac_below_median_white_male', 'frac_years_xw_white_male',
       'par_rank_natam_pooled_mean', 'frac_below_median_natam_pooled',
       'frac_years_xw_natam_pooled', 'par_rank_asian_pooled_mean',
       'frac_below_median_asian_pooled', 'frac_years_xw_asian_pooled',
       'par_rank_black_pooled_mean', 'frac_below_median_black_pooled',
       'frac_years_xw_black_pooled', 'par_rank_hisp_pooled_mean',
       'frac_below_median_hisp_pooled', 'frac_years_xw_hisp_pooled',
       'par_rank_other_pooled_mean', 'frac_below_median_other_pooled',
       'frac_years_xw_other_pooled', 'par_rank_pooled_pooled_mean',
       'frac_below_median_pooled_pooled', 'frac_years_xw_pooled_pooled',
       'par_rank_white_pooled_mean', 'frac_below_median_white_pooled',
       'frac_years_xw_white_pooled', 'kid_hisp_male_n', 'kid_hisp_female_n',
       'kid_white_male_n', 'kid_white_female_n', 'kid_black_male_n',
       'kid_black_female_n', 'kid_natam_male_n', 'kid_natam_female_n',
       'kid_asian_male_n', 'kid_asian_female_n', 'kid_pooled_pooled_n',
       'kid_pooled_male_n', 'kid_pooled_female_n', 'kid_white_pooled_n',
       'kid_black_pooled_n', 'kid_asian_pooled_n', 'kid_hisp_pooled_n',
       'kid_natam_pooled_n', 'kid_pooled_pooled_blw_p50_n',
       'kid_white_pooled_blw_p50_n', 'kid_black_pooled_blw_p50_n',
       'kid_hisp_pooled_blw_p50_n', 'kid_asian_pooled_blw_p50_n',
       'kid_natam_pooled_blw_p50_n', 'kid_pooled_male_blw_p50_n',
       'kid_white_male_blw_p50_n', 'kid_black_male_blw_p50_n',
       'kid_hisp_male_blw_p50_n', 'kid_asian_male_blw_p50_n',
       'kid_natam_male_blw_p50_n', 'kid_pooled_female_blw_p50_n',
       'kid_white_female_blw_p50_n', 'kid_black_female_blw_p50_n',
       'kid_hisp_female_blw_p50_n', 'kid_asian_female_blw_p50_n',
       'kid_natam_female_blw_p50_n', 'par_rank_asian_female_mean_se',
       'par_rank_black_female_mean_se', 'par_rank_hisp_female_mean_se',
       'par_rank_natam_female_mean_se', 'par_rank_other_female_mean_se',
       'par_rank_pooled_female_mean_se', 'par_rank_white_female_mean_se',
       'par_rank_asian_male_mean_se', 'par_rank_black_male_mean_se',
       'par_rank_hisp_male_mean_se', 'par_rank_natam_male_mean_se',
       'par_rank_other_male_mean_se', 'par_rank_pooled_male_mean_se',
       'par_rank_white_male_mean_se', 'par_rank_asian_pooled_mean_se',
       'par_rank_black_pooled_mean_se', 'par_rank_hisp_pooled_mean_se',
       'par_rank_natam_pooled_mean_se', 'par_rank_other_pooled_mean_se',
       'par_rank_pooled_pooled_mean_se', 'par_rank_white_pooled_mean_se']

alloutcomes_CZ = alloutcomes_CZ[alloutcomescolumns]

In [449]:
#alloutcomes_CZ = alloutcomes_CZ.set_index('cz')
#CZ_hoodchar = CZ_hoodchar.set_index('cz')
#alloutcomes_CZ = alloutcomes_CZ.filter(regex='cz_name|par_rank|kid|frac')
#alloutcomes_CZ.head(30)

In [450]:
alloutcomes_CZ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Columns: 121 entries, cz to par_rank_white_pooled_mean_se
dtypes: float64(102), int64(19)
memory usage: 700.6 KB

In [451]:
#print all columns in alloutcomes
with pd.option_context('display.max_seq_items', None):
    print (alloutcomes_CZ.columns)

Index(['cz', 'par_rank_natam_female_mean', 'frac_below_median_natam_female',
       'frac_years_xw_natam_female', 'par_rank_asian_female_mean',
       'frac_below_median_asian_female', 'frac_years_xw_asian_female',
       'par_rank_black_female_mean', 'frac_below_median_black_female',
       'frac_years_xw_black_female', 'par_rank_hisp_female_mean',
       'frac_below_median_hisp_female', 'frac_years_xw_hisp_female',
       'par_rank_other_female_mean', 'frac_below_median_other_female',
       'frac_years_xw_other_female', 'par_rank_pooled_female_mean',
       'frac_below_median_pooled_female', 'frac_years_xw_pooled_female',
       'par_rank_white_female_mean', 'frac_below_median_white_female',
       'frac_years_xw_white_female', 'par_rank_natam_male_mean',
       'frac_below_median_natam_male', 'frac_years_xw_natam_male',
       'par_rank_asian_male_mean', 'frac_below_median_asian_male',
       'frac_years_xw_asian_male', 'par_rank_black_male_mean',
       'frac_below_median_black_male', 'frac_years_xw_black_male',
       'par_rank_hisp_male_mean', 'frac_below_median_hisp_male',
       'frac_years_xw_hisp_male', 'par_rank_other_male_mean',
       'frac_below_median_other_male', 'frac_years_xw_other_male',
       'par_rank_pooled_male_mean', 'frac_below_median_pooled_male',
       'frac_years_xw_pooled_male', 'par_rank_white_male_mean',
       'frac_below_median_white_male', 'frac_years_xw_white_male',
       'par_rank_natam_pooled_mean', 'frac_below_median_natam_pooled',
       'frac_years_xw_natam_pooled', 'par_rank_asian_pooled_mean',
       'frac_below_median_asian_pooled', 'frac_years_xw_asian_pooled',
       'par_rank_black_pooled_mean', 'frac_below_median_black_pooled',
       'frac_years_xw_black_pooled', 'par_rank_hisp_pooled_mean',
       'frac_below_median_hisp_pooled', 'frac_years_xw_hisp_pooled',
       'par_rank_other_pooled_mean', 'frac_below_median_other_pooled',
       'frac_years_xw_other_pooled', 'par_rank_pooled_pooled_mean',
       'frac_below_median_pooled_pooled', 'frac_years_xw_pooled_pooled',
       'par_rank_white_pooled_mean', 'frac_below_median_white_pooled',
       'frac_years_xw_white_pooled', 'kid_hisp_male_n', 'kid_hisp_female_n',
       'kid_white_male_n', 'kid_white_female_n', 'kid_black_male_n',
       'kid_black_female_n', 'kid_natam_male_n', 'kid_natam_female_n',
       'kid_asian_male_n', 'kid_asian_female_n', 'kid_pooled_pooled_n',
       'kid_pooled_male_n', 'kid_pooled_female_n', 'kid_white_pooled_n',
       'kid_black_pooled_n', 'kid_asian_pooled_n', 'kid_hisp_pooled_n',
       'kid_natam_pooled_n', 'kid_pooled_pooled_blw_p50_n',
       'kid_white_pooled_blw_p50_n', 'kid_black_pooled_blw_p50_n',
       'kid_hisp_pooled_blw_p50_n', 'kid_asian_pooled_blw_p50_n',
       'kid_natam_pooled_blw_p50_n', 'kid_pooled_male_blw_p50_n',
       'kid_white_male_blw_p50_n', 'kid_black_male_blw_p50_n',
       'kid_hisp_male_blw_p50_n', 'kid_asian_male_blw_p50_n',
       'kid_natam_male_blw_p50_n', 'kid_pooled_female_blw_p50_n',
       'kid_white_female_blw_p50_n', 'kid_black_female_blw_p50_n',
       'kid_hisp_female_blw_p50_n', 'kid_asian_female_blw_p50_n',
       'kid_natam_female_blw_p50_n', 'par_rank_asian_female_mean_se',
       'par_rank_black_female_mean_se', 'par_rank_hisp_female_mean_se',
       'par_rank_natam_female_mean_se', 'par_rank_other_female_mean_se',
       'par_rank_pooled_female_mean_se', 'par_rank_white_female_mean_se',
       'par_rank_asian_male_mean_se', 'par_rank_black_male_mean_se',
       'par_rank_hisp_male_mean_se', 'par_rank_natam_male_mean_se',
       'par_rank_other_male_mean_se', 'par_rank_pooled_male_mean_se',
       'par_rank_white_male_mean_se', 'par_rank_asian_pooled_mean_se',
       'par_rank_black_pooled_mean_se', 'par_rank_hisp_pooled_mean_se',
       'par_rank_natam_pooled_mean_se', 'par_rank_other_pooled_mean_se',
       'par_rank_pooled_pooled_mean_se', 'par_rank_white_pooled_mean_se'],
      dtype='object')

In [452]:
alloutcomes_CZ.isnull().sum().sort_values(ascending=False)

frac_below_median_natam_female     339
par_rank_natam_female_mean_se      339
frac_years_xw_natam_female         339
par_rank_natam_female_mean         339
kid_natam_female_blw_p50_n         339
                                  ...
par_rank_pooled_pooled_mean_se       0
frac_below_median_pooled_pooled      0
par_rank_pooled_pooled_mean          0
frac_years_xw_pooled_male            0
cz                                   0
Length: 121, dtype: int64

In [453]:
#merged dataframes

In [467]:
df = pd.merge(CZ_hoodchar,alloutcomes_CZ,left_on='cz',right_on='cz',how='outer')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74044 entries, 0 to 74043
Columns: 158 entries, state to par_rank_white_pooled_mean_se
dtypes: float64(154), int64(3), object(1)
memory usage: 89.8+ MB

In [455]:
df.head()

,state,county,tract,cz,czname,hhinc_mean2000,mean_commutetime2000,frac_coll_plus2000,frac_coll_plus2010,foreign_share2010,...,par_rank_other_male_mean_se,par_rank_pooled_male_mean_se,par_rank_white_male_mean_se,par_rank_asian_pooled_mean_se,par_rank_black_pooled_mean_se,par_rank_hisp_pooled_mean_se,par_rank_natam_pooled_mean_se,par_rank_other_pooled_mean_se,par_rank_pooled_pooled_mean_se,par_rank_white_pooled_mean_se
0,1,1,20100,11101.0,Montgomery,68638.727,26.171911,0.156479,0.254428,0.009950,...,0.015406,0.001978,0.002532,0.015578,0.001735,0.010164,0.027224,0.011747,0.001413,0.001828
1,1,1,20200,11101.0,Montgomery,57242.512,24.806705,0.146932,0.267194,0.016337,...,0.015406,0.001978,0.002532,0.015578,0.001735,0.010164,0.027224,0.011747,0.001413,0.001828
2,1,1,20300,11101.0,Montgomery,75647.727,25.322525,0.224413,0.164159,0.027096,...,0.015406,0.001978,0.002532,0.015578,0.001735,0.010164,0.027224,0.011747,0.001413,0.001828
3,1,1,20400,11101.0,Montgomery,74852.055,22.965347,0.230469,0.252744,0.015083,...,0.015406,0.001978,0.002532,0.015578,0.001735,0.010164,0.027224,0.011747,0.001413,0.001828
4,1,1,20500,11101.0,Montgomery,96174.766,26.222353,0.321154,0.375063,0.046488,...,0.015406,0.001978,0.002532,0.015578,0.001735,0.010164,0.027224,0.011747,0.001413,0.001828

In [468]:
df.isnull().sum().sort_values(ascending=False)

ln_wage_growth_hs_grad            22258
rent_twobed2015                   17324
par_rank_natam_female_mean_se      7327
frac_below_median_natam_female     7327
par_rank_natam_female_mean         7327
                                  ...
share_hisp2010                      618
popdensity2010                      406
tract                                 0
county                                0
state                                 0
Length: 158, dtype: int64

In [469]:
df['cz'].isnull().sum()

950

In [470]:
df['ln_wage_growth_hs_grad'].isnull().sum()

22258

In [471]:
df['ln_wage_growth_hs_grad'].fillna(df.groupby('cz')['ln_wage_growth_hs_grad'].mean(),inplace=True)

In [464]:
a = df.groupby('cz')['ln_wage_growth_hs_grad'].mean().reset_index()
print(a)

          cz  ln_wage_growth_hs_grad
0      100.0                0.049295
1      200.0                0.050748
2      301.0               -0.025401
3      302.0                0.074553
4      401.0                0.012486
..       ...                     ...
736  39205.0               -0.053109
737  39301.0               -0.121159
738  39302.0               -0.041714
739  39303.0               -0.126075
740  39400.0                0.047259

[741 rows x 2 columns]

In [465]:
df['ln_wage_growth_hs_grad'].fillna(a['ln_wage_growth_hs_grad'],inplace=True)

In [466]:
df['ln_wage_growth_hs_grad'].isnull().sum()

21818

In [460]:
df['ln_wage_growth_hs_grad'] = df['ln_wage_growth_hs_grad'].fillna(df.groupby('cz')['ln_wage_growth_hs_grad'].mean())
df['ln_wage_growth_hs_grad'].isnull().sum()

21818

In [461]:
df['ln_wage_growth_hs_grad'].isna().any()

True